In [12]:
import json

import numpy as np
import pandas as pd

from scipy.stats import gaussian_kde

In [5]:
path = "modified_json_500_crimes.json"
data_df = pd.read_json(path)
data_df.head()

          Name       Date  Latitude  Longitude
0    snatching 2024-07-25   28.7041    77.1025
1  women abuse 2024-07-24   28.7046    77.1031
2         rape 2024-07-23   28.7051    77.1036
3   kidnapping 2024-07-22   28.7056    77.1041
4       murder 2024-07-21   28.7061    77.1046

In [11]:
crime_weights = {
    'snatching': 1,
    'women abuse': 2,
    'rape': 3,
    'kidnapping': 3 ,
    'murder' : 3
}

# Assign weights to crimes
data_df['weight'] = data_df['Name'].map(crime_weights)
data_df.head()

          Name       Date  Latitude  Longitude  weight
0    snatching 2024-07-25   28.7041    77.1025       1
1  women abuse 2024-07-24   28.7046    77.1031       2
2         rape 2024-07-23   28.7051    77.1036       3
3   kidnapping 2024-07-22   28.7056    77.1041       3
4       murder 2024-07-21   28.7061    77.1046       3

In [10]:


# Function to calculate KDE for given coordinates
def calculate_kde(crimes, bandwidth=0.01):
    kde = gaussian_kde(crimes.T, bw_method=bandwidth)
    return kde

# Prepare crime coordinates
coords = recent_crimes[['latitude', 'longitude']].values.T

# Calculate KDE
kde = calculate_kde(coords)

NameError: name 'recent_crimes' is not defined